* {
  box-sizing: border-box;
}
html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-width: 20em;
  min-height: 10em;
}
main {
  padding: 1em 0.5em;
  display: grid;
  place-items: center;
}
.download-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-button{
  appearance: none;
  margin: 5px;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.download-button:hover{
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}